<header class="top-page-header">
  <div class='search-bar-contents'>
    <%= link_to image_tag("honta_logo.png", class:"honta-icon"), "/" %>
    <form class="search-form" action="#">
      <input class='input-box' placeholder='本を探す'>
      <button class="search-button">
        <%= image_tag "search.png", class:"search-icon" %>
      </button>
    </form>
  </div>
  <div class='nav'>
    <% if user_signed_in? %>
      <div class='lists-left'>
        <%= link_to 'Rental', new_rental_book_path, data: { turbo_method: :post }, class: "button-left" %>
      </div>
      <div class='lists-right'>
        <div><%= link_to current_user.email, "#", class: "user-nickname" %></div>
        <li><%= link_to 'Log out', destroy_user_session_path, data: { turbo_method: :delete }, class: "button-right" %></li>
      </div>
    <% else %>
      <div class='lists-left'>
      </div>
      <div class='lists-right'>
        <div><%= link_to 'Sign in', new_user_session_path, class: "button-right-left" %></div>
        <div><%= link_to 'Sign up', new_user_registration_path, class: "button-right" %></div>
      </div>
    <% end %>
  </div>
</header>

