
<%= render "shared/header" %>
<div class='main'>

  <div class='title-contents'>
    <h2 class='service-title'>
      豊かな読書生活を
    </h2>
    <p class='service-explain'>
      hontaはあなたの読書生活を応援します
    </p>
    <p class='service-explain'>
      書籍貸し出しサービスです
    </p>
    <div class='store-btn'>
      <%= link_to image_tag("app-store.svg", class:"apple-btn"), "#" %>
      <%= link_to image_tag("google-play.png", class:"google-btn"), "#" %>
    </div>
  </div>

  <%# 貸し出し書籍一覧 %>
  <div class='item-contents'>
    <h2 class='title'>ピックアップカテゴリー</h2>
    <div class="subtitle" >
      新規貸し出し書籍
    </div>
    <ul class='item-lists'>

      <li class='list'>
        <%= link_to "#" do %>
        <div class='item-img-content'>
          <%= image_tag "item-sample.png", class: "item-img" %>

          <div class='sold-out'>
            <span>Lent!</span>
          </div>

        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= "書名" %>
          </h3>
          <div class='item-price'>
            <span><%= "著者名" %><br><%= '出版社名' %></span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>

      <li class='list'>
        <%= link_to '#' do %>
        <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "item-img" %>
        <div class='item-info'>
          <h3 class='item-name'>
            本をお貸しください！
          </h3>
          <div class='item-price'>
            <span>芥川龍之介<br>honta文庫</span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
    </ul>
  </div>
  <%# /貸し出し書籍一覧 %>
</div>
<%= link_to('#', class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>貸し出し</span>
  <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>

<%= render "shared/footer" %>
