<%= render "shared/header" %>
<div class='main'>

  <div class='title-contents'>
    <h2 class='service-title'>
      豊かな読書生活を
    </h2>
    <p class='service-explain'>
      hontaはあなたの読書生活を応援します
    </p>
    <p class='service-explain'>
      書籍貸し出しサービスです
    </p>
  </div>

  <%# 書籍一覧 %>
  <% @rental_books.each do |rental_book| %>  
    <div class='item-contents'>
      <h2 class='title'>ピックアップカテゴリー</h2>
      <div class="subtitle" >
        新規投稿書籍
      </div>
      <ul class='item-lists'>

        <li class='list'>
          <%= link_to rental_book_path(rental_book.id) do %>
          <div class='item-img-content'>
            <%= image_tag "item-sample.png", class: "item-img" %>

            <div class='sold-out'>
              <span>Lent!</span>
            </div>

          </div>
          <div class='item-info'>
            <h3 class='item-name'>
              <%= rental_book.title %>
            </h3>
            <div class='item-price'>
              <span><%= rental_book.auther %><br><%= rental_book.publisher %></span>
              <div class='star-btn'>
                <%= image_tag "star.png", class:"star-icon" %>
                <span class='star-count'>0</span>
              </div>
            </div>
          </div>
          <% end %>
        </li>

        <li class='list'>
          <%= link_to '#' do %>
          <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "item-img" %>
          <div class='item-info'>
            <h3 class='item-name'>
              本を貸してください
            </h3>
            <div class='item-price'>
              <span>書名</span>
              <div class='star-btn'>
                <%= image_tag "star.png", class:"star-icon" %>
                <span class='star-count'>0</span>
              </div>
            </div>
          </div>
          <% end %>
        </li>
      </ul>
    </div>
  <% end %>
  <%# /書籍一覧 %>
</div>
<%= render "shared/footer" %>