<%= render "shared/header" %>

<%# 書籍の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @rental_book.title %>
    </h2>
    <div class="item-img-content">
      <%= image_tag @rental_book.image ,class:"item-box-img" %>
      <div class="sold-out">
        <span>Lent!</span>
      </div>
    </div>

    <% if user_signed_in? %>
      <% if current_user.id == @rental_book.user_id %>
        <%= link_to "書籍情報の編集", edit_rental_book_path(@rental_book.id), data: { turbo_method: :get }, class: "item-red-btn" %>
        <p class="or-text">or</p>
        <%= link_to "削除", root_path(@rental_book.id), data: { turbo_method: :delete }, class:"item-destroy" %>
      <% else %>
        <%= link_to "レンタル申請画面に進む", "#" ,class:"item-red-btn"%>
      <% end %>
    <% end %>

    <div class="item-explain-box">
      <span><%= "書籍情報" %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">著者名</th>
          <td class="detail-value"><%= @rental_book.author %></td>
        </tr>
        <tr>
          <th class="detail-item">本のジャンル</th>
          <td class="detail-value"><%= @rental_book.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">本の状態</th>
          <td class="detail-value"><%= @rental_book.condition.name %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>お気に入り 0</span>
      </div>
    </div>
  </div>
  <%# /書籍の概要 %>

  <div class="comment-box">
    <form>
      <textarea class="comment-text"></textarea>
      <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
      <button type="submit" class="comment-btn">
        <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
        <span>コメントする<span>
      </button>
    </form>
  </div>
  <div class="links">
    <a href="#" class="change-item-btn">
      ＜ 前の書籍
    </a>
    <a href="#" class="change-item-btn">
      後ろの書籍 ＞
    </a>
  </div>
  <a href="#" class="another-item"><%= @rental_book.category.name %>をもっと見る</a>
</div>

<%= render "shared/footer" %>
